<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="XML Parser App Tests">
	<test name="Individual Tests">
		<parameter name="xmlFilePath"
			value="src/main/resources/xml/test.xml"></parameter>
		<classes>
			<class name="test.com.epam.xmlparseapp.service.XmlValidatorTest" />
			<class
				name="test.com.epam.xmlparseapp.xmlparser.IndividualParserTest" />
		</classes>
	</test>

	<test name="Complex Tests">
		<classes>
		<class name="test.com.epam.xmlparseapp.xmlparser.ComplexParserTest"></class>
		</classes>
	</test>
</suite>
